.RIT_VGallery_New_V
{
	margin-top: 15px;
	border-radius: 10px;
	background-color: #ffffff;
	width: 60%;
	height: 360px;
	border: 2px dashed #6f6e6e;
    display: none;
    cursor: pointer;
    padding: 5px;
}
.RIT_VGallery_Upload_Video_Table
{
	width: 100%;
}
.RIT_VGallery_Upload_Video_Table td:nth-child(odd)
{
	background-color: #cfcfcf;
	width: 20%;
	text-align: center;
	padding: 5px;
}
.RIT_VGallery_Upload_Video_Table td:nth-child(even)
{
	width: 80%;
	padding: 5px;
	background-color: #f2f2f2;
}
.RIT_VGallery_Upload_Video_Input
{
	width: 80%;
	margin-left: 5%;
}
.RITVGallery_Uploaded_Desc
{
	resize: none;
	overflow-y: scroll;
}
.RIT_VGallery_Upload_Video_Button
{
	cursor: pointer;
	width: 120px;
	background-color: #ffffff;
	color: #6f6e6e;
	border: 1px solid #6f6e6e;
	border-radius: 3px;
	box-shadow: 0px 0px 30px #cfcfcf;
	margin-right: 25px;
	float: right;
}
.RIT_VGallery_Upload_Video_Button:hover
{
	background-color: #6f6e6e;
	color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0px 0px 30px #6f6e6e;
}
.RIT_VGallery_Upload_Video_Button:active
{
	background-color: #ffffff;
	color: #6f6e6e;
	border-color: #6f6e6e;
	box-shadow: 0px 0px 30px #cfcfcf;
}
#RIT_VGallery_Button_U
{
	display: none;
}
.RIT_Video_Gallery_textarea
{
	width: 80%;
	resize: none;
}
.RIT_VGallery_Span
{
	margin-left: 10px;
	color: #ff0000;
	display: none;
}
.RIT_VGallery_Upload_Video_Div1
{
	padding: 10px;
}
.RIT_VGallery_Photos
{
	border:1px solid #6f6e6e; 
	margin-top:15px;
	background-color:#ffffff;
	padding:5px;
	width: 60%;
	display: none;
}
.RIT_VGallery_Photos_Div
{
	width: 30%;
	position: relative;
	height:98%;
	margin-left: 3px;
}
.RIT_VGallery_Photos_Desc_Div
{
	width: 68%;
	float: right;
}
.RIT_VGallery_Photo
{
	margin-top: 10%;

	width: 100%;
	height:70%; 
}
.RIT_VGallery_Photos_Table
{
	width: 100%;
}
.RIT_VGallery_Photos_Table td:nth-child(odd)
{
	background-color: #cfcfcf;
	width: 20%;
	text-align: center;
	padding: 5px;
}
.RIT_VGallery_Photos_Table td:nth-child(even)
{
	width: 80%;
	padding: 5px;
	background-color: #f2f2f2;
}
#RIT_Video_Gallery_Ul li
{
	cursor: all-scroll;
	height:312px;
}
#RIT_Video_Gallery_Ul li:nth-child(even)
{
	background-color: #f5f5f5;
}
#RIT_Video_Gallery_Ul li:nth-child(odd)
{
	background-color: #edecec;
}